@import '../../../../layouts/less/variable.less';

.item {
  padding: 20px;

  border-bottom: 1px solid @gray;

}

.name {
  & > span {
    font-size: 24px;
    font-weight: bold;
    padding-left: 40px;
    color: @grayDark;
  }
}



.submit {
  border: none;
  text-align: right;
  & > button {
    padding: 2px 30px;
    margin-right: 4px;
  }
}
