@import '../../layouts/less/variable.less';

.home {
  position: relative;
  padding-top: 10px;
}

.projects {
  position: relative;
  padding-right: 10px;
  overflow-x: hidden;
  
  & > div:first-child {
    margin-top: 0;
  }
}
