@import '../../layouts/less/variable.less';

.home {
  position: relative;
  padding-top: 20px;
}

.projects {
  padding-right: 20px;
  & > div:first-child {
    margin-top: 0;
  }
}

.nav {
  position: fixed;
  top: 70px;

  & > div {
    height: 240px;
    border-radius: 2px;
    border: 1px solid @gray;
    box-shadow: 0px 2px 6px #ddd;

    &:nth-child(2) {
      margin-top: 20px;
    }
  }

}
