@import '../../layouts/less/reset.less';


.login {
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.loginIn,
.register {
  position: absolute;
  left: 50%;
  width: 280px;
  margin-left: -150px;
  margin-top: 14vh;
  border-radius: 4px;
  background-color: rgba(255,255,255,.8);
  box-shadow: 1px 3px 20px #ccc;
  border: 1px solid @gray + #111;
  user-select:none;

  input {
    background-color: rgba(255,255,255,.8);
  }

  h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    color: @blue;
    border-bottom: 1px solid @gray + #111;
  }

  form {
    .button {
      padding: 10px 15px;

      button {
        width: 100%;
      }
    }


    & > div {

      &:last-child {
        border: none;
      }
    }
  }
}

.loginIn {

  & > span {
    display: inline-block;
    padding: 16px 20px;
    a {
      display: inline-block;

      &:last-child {
        margin-left: 147px;
      }
    }
  }
}


.register {

  & > span {
    display: block;
    text-align: right;
    padding: 16px 20px;
    a {
      display: inline-block;
    }
  }

  .role {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid @gray + #111;

    & > div {
      width: 100%;
      border: none;
    }

    label {
      width: 50%;
      margin: 0;
      text-align: center;

      &:first-child {
        border-right: 1px solid @gray + #111;
      }
    }

  }
}
