@import './variable.less';
@import '~antd/lib/style/mixins/index.less';

// 重置placeholder颜色
.placeholder(@input-placeholder-color);
::-webkit-input-placeholder {
  opacity: 1;
}

// 全局重置样式

body {
  overflow-x: hidden;
  background-color: #f5f5f5;
  :global {
    .ant-spin {
      width: 100%;
    }
  }
}
#root {
  padding-bottom: 100px;

}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.loading {
  position: absolute;
  top: 30%;
  left: 50%;
}

.gray {
  color: @gray;
}

.white {
  color: @white;
}

.blue {
  color: #108ee9;
}

.red {
  color: @red !important;
}

.background-red {
  background-color: #f46e65;
}

.background-white {
  background-color: #f7f7f7;
}

.background-hover {
  &:hover {
    background-color: @hoverColor;
  }
}

.yellow {
  color: #f56a00;
}

.green {
  color: #3dbd7d;
}

.content {
  margin-top: 50px;
}

.show {
  display: inline-block;
}

.hide {
  opacity: 0;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1400px) {
  .container {
    width: 1000px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1100px;
  }
}

.reset {
  width: 100%;
}

a {
  &:focus {
    outline: none;
  }
  user-select: none;
  &:link {text-decoration: none;}
  &:visited {text-decoration: none;}
  &:hover {text-decoration: none;}
  &:active {text-decoration: none;}
}
