@import './variable.less';
@import '~antd/lib/style/mixins/index.less';

// 重置placeholder颜色
.placeholder(@input-placeholder-color);
::-webkit-input-placeholder {
  opacity: 1;
}

// 全局重置样式
.gray {
  color: #d9d9d9;
}

.white {
  color: #ffffff;
}

.blue {
  color: #108ee9;
}

.red {
  color: #f46e65;
}

.yellow {
  color: #f56a00;
}

.green {
  color: #3dbd7d;
}


body {
  min-height: 100%;

}
.content {
  margin-top: 50px;
}

.show {
  display: inline-block;
}

.hide {
  opacity: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.reset {
  min-width: 1220px;

  a {
    &:focus {
      outline: none;
    }
    user-select: none;
    &:link {text-decoration: none;}
    &:visited {text-decoration: none;}
    &:hover {text-decoration: none;}
    &:active {text-decoration: none;}
  }

  .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x,
  .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: #333;
  }

  .rdtPicker {
    margin-top: 6px;
  }

  .ant-dropdown-menu-sub {
    max-height: 100px;
    overflow-y: auto;
  }
}
