@import '../iconfont/iconfont.less';

// 引入antd的样式
@import '~antd/lib/style/themes/default.less';

// 重置iconfont为本地地址
//@icon-url: "~/font/iconfont";
//基本颜色
@grayWhite: #f7f7f7;
@grayDark: #8590a6;
@hoverColor: #ecf6fd;
@gray: #d9d9d9;
@white: #ffffff;
@blue: #108ee9;
@yellow: #f56a00;
@green: #3dbd7d;
@red: #d73435;
@dark: #404040;

// 重置基础字体大小
@font-size-base: 12px;

@font-weight: 300;

// 重置字体
@font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;

// 重置ghost按钮背景
@btn-ghost-bg: #fff;

// 重置primary color
//@primary-color: #C42655;
//@link-hover-color: @primary-color;
//@text-color: #1D1C1C;
@border-radius-base: 4px;

// 自己的变量
@img-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
@text-muted-color: #aaa;
@red-color: red;
@zindex-popover: 999;
